::-webkit-input-placeholder {
  color: gray;
}
.button
{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}
button.btngrn:hover
{
  background-color: green;
}

div.jumbotron:hover {
  background-color: powderblue;
}

body {
  background-color: powderblue;
}

header {
  background-color: #666;
  padding: calc(100%-30px);
  text-align: center;
  font-size: 30px;
  color: powderblue;
}

table {
  background-color: #1111;
  padding: 60px;
  height: 200px
  text-align: center;
  font-size: 15px;
  color: black;
}
.cities {
  background-color: #666;
  color: white;
  margin: 10px;
  padding: 10px;
}
div.aldv
{
    position: relative;
    float: left;
    margin-left: 10px;
    margin-top:10px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #666;
    padding: 30px;
    padding-left: 10px;
    padding-right: 850px;
    font-size: 20px;
    color: blue;
}
div.aldv2
{
    position: relative;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    float: right;
    height: 90px;
    width: 190px;
    background-color: #C6C6C3;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(css/images/Logo2.bmp);
    border-radius: 4px;
    text-align: start;
    vertical-align: bottom;
    font-size-adjust: auto;
}
span.goal
{
   align-content: center !important;
}
